.gsc-comment-box {
  border: 0;
}

.gsc-comment-box-tabs {
  border-radius: 10px;
  background-color: rgb(219, 226, 239);
  padding: 10px;
  border: 0;
}

.gsc-comment-box-tabs div {
  margin: 0 !important; 
}

.gsc-comment-box-tabs button {
  background-color: #3f72af;
  color: white;
  border-radius: 4px;
  font-family: "Lato";
  font-size: 14px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  transition: background-color .5s ease;
  display: inline-block
}

.gsc-comment-box-tabs button:hover {
  background-color: #2c3e50;
}